<section>
    <div class="col-sm-6 col-sm-offset-3">
        <h3 data-bind="text: displayName" class="wishtitle"></h3>
        <table class="table table-hover">
            <tbody data-bind="foreach: wishes">
                <tr data-bind="event: {mouseover: $parent.showDelete, mouseout: $parent.hideDelete}">
                    <td data-bind="text: name" class="wishitem"></td>
                    <td class="wishitem" style="font-style: italic; text-align: right;" data-bind="visible: hover">edit</td>
                    <td class="wishitem" data-bind="visible: hover">
                        <i class="fa fa-times-circle pull-right"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#addWishModal">Add Item</button>

        <!-- Modal -->
        <div class="modal" id="addWishModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">New Item</h4>
                    </div>
                    <form data-bind="submit: addWish">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="inputWish">Enter Name of Item:</label>
                                <input class="form-control" id="inputWish" data-bind="value: newWish" placeholder="A pony..." />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Add to List</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>    
</section>
